@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f2f2f2;
    --secondary-color: #616161;
    --tertiary-color: #313131;
  }

* {
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
	font-feature-settings: 'ss01' 1, 'ss03' 1;
}



  @layer components {

    .nav-main {
        @apply relative flex items-center justify-center 
        h-8 mt-2 mb-2
        hover:bg-primary-color bg-tertiary-color
        text-primary-color hover:text-tertiary-color
        rounded-sm transition-all duration-200 ease-linear
         shadow-lg skew-x-[-15deg];
    }

    .flipped {
      @apply hidden
    
    }
}
