@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f2f2f2;
    --secondary-color: #616161;
    --tertiary-color: #313131;
    background-color: #FFFDF1;
  }

* {
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
	font-feature-settings: 'ss01' 1, 'ss03' 1;
}



  @layer components {

    .nav-main {
        @apply relative flex items-center justify-center 
        h-8 mt-2 mb-2
        hover:bg-primary-color bg-tertiary-color
        text-primary-color hover:text-tertiary-color
        rounded-sm transition-all duration-200 ease-linear
         shadow-lg skew-x-[-15deg];
    }

    .sidebar-tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md
      text-white bg-tertiary-color 
      text-xs font-bold 
      transition-all duration-100 origin-left scale-0;
  }

    .flipped {
      @apply transform
    
    }
  }